
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Administrator', N'CONSTRAINT',N'FK_Administrator_Login'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Administrator', @level2type=N'CONSTRAINT',@level2name=N'FK_Administrator_Login'
GO
/****** Object:  StoredProcedure [dbo].[sp_mostPerformedTestsDuringDates]    Script Date: 4/29/2019 6:01:15 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_mostPerformedTestsDuringDates]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Specialty]') AND type in (N'U'))
ALTER TABLE [dbo].[Specialty] DROP CONSTRAINT IF EXISTS [FK_Specialities_Doctor]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PatientVisit]') AND type in (N'U'))
ALTER TABLE [dbo].[PatientVisit] DROP CONSTRAINT IF EXISTS [FK_PatientVisit_Nurse]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PatientVisit]') AND type in (N'U'))
ALTER TABLE [dbo].[PatientVisit] DROP CONSTRAINT IF EXISTS [FK_PatientVisit_HasAppointment]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Patient]') AND type in (N'U'))
ALTER TABLE [dbo].[Patient] DROP CONSTRAINT IF EXISTS [FK_Patient_Address]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Nurse]') AND type in (N'U'))
ALTER TABLE [dbo].[Nurse] DROP CONSTRAINT IF EXISTS [FK_Nurse_Login]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Nurse]') AND type in (N'U'))
ALTER TABLE [dbo].[Nurse] DROP CONSTRAINT IF EXISTS [FK_Nurse_Address]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LabTestResult]') AND type in (N'U'))
ALTER TABLE [dbo].[LabTestResult] DROP CONSTRAINT IF EXISTS [FK_LabTestResult_PatientVisit]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LabTestResult]') AND type in (N'U'))
ALTER TABLE [dbo].[LabTestResult] DROP CONSTRAINT IF EXISTS [FK_LabTestResult_LabTestList]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HasAppointment]') AND type in (N'U'))
ALTER TABLE [dbo].[HasAppointment] DROP CONSTRAINT IF EXISTS [FK_HasAppointment_Patient]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HasAppointment]') AND type in (N'U'))
ALTER TABLE [dbo].[HasAppointment] DROP CONSTRAINT IF EXISTS [FK_HasAppointment_Doctor]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Doctor]') AND type in (N'U'))
ALTER TABLE [dbo].[Doctor] DROP CONSTRAINT IF EXISTS [FK_Doctor_Login]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Doctor]') AND type in (N'U'))
ALTER TABLE [dbo].[Doctor] DROP CONSTRAINT IF EXISTS [FK_Doctor_Address]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Administrator]') AND type in (N'U'))
ALTER TABLE [dbo].[Administrator] DROP CONSTRAINT IF EXISTS [FK_Administrator_Login]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Administrator]') AND type in (N'U'))
ALTER TABLE [dbo].[Administrator] DROP CONSTRAINT IF EXISTS [FK_Administrator_Address]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Nurse]') AND type in (N'U'))
ALTER TABLE [dbo].[Nurse] DROP CONSTRAINT IF EXISTS [DF_Nurse_activeStatus]
GO
/****** Object:  Index [IX_Patient_ssn]    Script Date: 4/29/2019 6:01:15 PM ******/
DROP INDEX IF EXISTS [IX_Patient_ssn] ON [dbo].[Patient]
GO
/****** Object:  Index [IX_Nurse_ssn]    Script Date: 4/29/2019 6:01:15 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Nurse]') AND type in (N'U'))
ALTER TABLE [dbo].[Nurse] DROP CONSTRAINT IF EXISTS [IX_Nurse_ssn]
GO
/****** Object:  Index [IX_Nurse]    Script Date: 4/29/2019 6:01:15 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Nurse]') AND type in (N'U'))
ALTER TABLE [dbo].[Nurse] DROP CONSTRAINT IF EXISTS [IX_Nurse]
GO
/****** Object:  Index [IX_LabTestResult]    Script Date: 4/29/2019 6:01:15 PM ******/
DROP INDEX IF EXISTS [IX_LabTestResult] ON [dbo].[LabTestResult]
GO
/****** Object:  Index [IX_LabTestList]    Script Date: 4/29/2019 6:01:15 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LabTestList]') AND type in (N'U'))
ALTER TABLE [dbo].[LabTestList] DROP CONSTRAINT IF EXISTS [IX_LabTestList]
GO
/****** Object:  Index [IX_HasAppointment_patient_dateTime_UQ]    Script Date: 4/29/2019 6:01:15 PM ******/
DROP INDEX IF EXISTS [IX_HasAppointment_patient_dateTime_UQ] ON [dbo].[HasAppointment]
GO
/****** Object:  Index [IX_HasAppointment_Doctor_time_UQ]    Script Date: 4/29/2019 6:01:15 PM ******/
DROP INDEX IF EXISTS [IX_HasAppointment_Doctor_time_UQ] ON [dbo].[HasAppointment]
GO
/****** Object:  Index [IX_Doctor_ssn]    Script Date: 4/29/2019 6:01:15 PM ******/
DROP INDEX IF EXISTS [IX_Doctor_ssn] ON [dbo].[Doctor]
GO
/****** Object:  Index [IX_Doctor]    Script Date: 4/29/2019 6:01:15 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Doctor]') AND type in (N'U'))
ALTER TABLE [dbo].[Doctor] DROP CONSTRAINT IF EXISTS [IX_Doctor]
GO
/****** Object:  Index [IX_Administrator_ssn]    Script Date: 4/29/2019 6:01:15 PM ******/
DROP INDEX IF EXISTS [IX_Administrator_ssn] ON [dbo].[Administrator]
GO
/****** Object:  Index [IX_Administrator]    Script Date: 4/29/2019 6:01:15 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Administrator]') AND type in (N'U'))
ALTER TABLE [dbo].[Administrator] DROP CONSTRAINT IF EXISTS [IX_Administrator]
GO
/****** Object:  Table [dbo].[Specialty]    Script Date: 4/29/2019 6:01:15 PM ******/
DROP TABLE IF EXISTS [dbo].[Specialty]
GO
/****** Object:  Table [dbo].[PatientVisit]    Script Date: 4/29/2019 6:01:15 PM ******/
DROP TABLE IF EXISTS [dbo].[PatientVisit]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 4/29/2019 6:01:15 PM ******/
DROP TABLE IF EXISTS [dbo].[Patient]
GO
/****** Object:  Table [dbo].[Nurse]    Script Date: 4/29/2019 6:01:15 PM ******/
DROP TABLE IF EXISTS [dbo].[Nurse]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 4/29/2019 6:01:15 PM ******/
DROP TABLE IF EXISTS [dbo].[Login]
GO
/****** Object:  Table [dbo].[LabTestResult]    Script Date: 4/29/2019 6:01:15 PM ******/
DROP TABLE IF EXISTS [dbo].[LabTestResult]
GO
/****** Object:  Table [dbo].[LabTestList]    Script Date: 4/29/2019 6:01:15 PM ******/
DROP TABLE IF EXISTS [dbo].[LabTestList]
GO
/****** Object:  Table [dbo].[HasAppointment]    Script Date: 4/29/2019 6:01:15 PM ******/
DROP TABLE IF EXISTS [dbo].[HasAppointment]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 4/29/2019 6:01:15 PM ******/
DROP TABLE IF EXISTS [dbo].[Doctor]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 4/29/2019 6:01:15 PM ******/
DROP TABLE IF EXISTS [dbo].[Administrator]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 4/29/2019 6:01:15 PM ******/
DROP TABLE IF EXISTS [dbo].[Address]
GO
USE [master]
GO
/****** Object:  Database [CS6232-g4]    Script Date: 4/29/2019 6:01:15 PM ******/
DROP DATABASE IF EXISTS [CS6232-g4]
GO
/****** Object:  Database [CS6232-g4]    Script Date: 4/29/2019 6:01:15 PM ******/
CREATE DATABASE [CS6232-g4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'clinic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\clinic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'clinic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\clinic_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CS6232-g4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CS6232-g4]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 4/29/2019 6:01:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[state] [varchar](40) NOT NULL,
	[zip] [varchar](40) NOT NULL,
	[street] [varchar](40) NULL,
	[addressID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[addressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 4/29/2019 6:01:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrator](
	[adminID] [int] IDENTITY(1,1) NOT NULL,
	[fname] [varchar](40) NULL,
	[lname] [varchar](40) NULL,
	[dob] [date] NULL,
	[ssn] [int] NOT NULL,
	[gender] [varchar](40) NULL,
	[phone] [varchar](10) NULL,
	[adminUsername] [varchar](10) NOT NULL,
	[addressID] [int] NOT NULL,
 CONSTRAINT [PK_Administrator] PRIMARY KEY CLUSTERED 
(
	[adminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 4/29/2019 6:01:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[doctorID] [int] IDENTITY(1,1) NOT NULL,
	[fname] [varchar](40) NULL,
	[lname] [varchar](40) NULL,
	[dob] [date] NULL,
	[ssn] [int] NOT NULL,
	[gender] [varchar](40) NULL,
	[phone] [varchar](10) NULL,
	[doctorUsername] [varchar](10) NOT NULL,
	[addressID] [int] NOT NULL,
 CONSTRAINT [PK_Doctor] PRIMARY KEY CLUSTERED 
(
	[doctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HasAppointment]    Script Date: 4/29/2019 6:01:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HasAppointment](
	[appointmentID] [int] IDENTITY(1,1) NOT NULL,
	[doctorID] [int] NOT NULL,
	[patientID] [int] NOT NULL,
	[appointmentDateTime] [datetime] NOT NULL,
	[reasons] [varchar](120) NOT NULL,
 CONSTRAINT [PK_HasAppointment] PRIMARY KEY CLUSTERED 
(
	[appointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabTestList]    Script Date: 4/29/2019 6:01:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabTestList](
	[testID] [int] IDENTITY(1,1) NOT NULL,
	[testName] [varchar](40) NOT NULL,
 CONSTRAINT [PK_LabTestList] PRIMARY KEY CLUSTERED 
(
	[testID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabTestResult]    Script Date: 4/29/2019 6:01:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabTestResult](
	[labTestResultID] [int] IDENTITY(1,1) NOT NULL,
	[testID] [int] NOT NULL,
	[visitID] [int] NOT NULL,
	[testResult] [varchar](40) NULL,
	[testResultDate] [datetime] NULL,
	[testPerformedDate] [datetime] NULL,
 CONSTRAINT [PK_LabTestResult] PRIMARY KEY CLUSTERED 
(
	[labTestResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 4/29/2019 6:01:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[username] [varchar](10) NOT NULL,
	[password] [varbinary](128) NOT NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nurse]    Script Date: 4/29/2019 6:01:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nurse](
	[nurseID] [int] IDENTITY(1,1) NOT NULL,
	[fname] [varchar](40) NULL,
	[lname] [varchar](40) NULL,
	[dob] [date] NULL,
	[ssn] [int] NOT NULL,
	[gender] [varchar](40) NULL,
	[phone] [varchar](10) NULL,
	[nurseUsername] [varchar](10) NOT NULL,
	[addressID] [int] NOT NULL,
	[activeStatus] [bit] NOT NULL,
 CONSTRAINT [PK_Nurse] PRIMARY KEY CLUSTERED 
(
	[nurseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 4/29/2019 6:01:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[patientID] [int] IDENTITY(1,1) NOT NULL,
	[fname] [varchar](40) NULL,
	[lname] [varchar](40) NULL,
	[dob] [date] NULL,
	[ssn] [int] NOT NULL,
	[gender] [varchar](40) NULL,
	[phone] [varchar](10) NULL,
	[addressID] [int] NOT NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[patientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientVisit]    Script Date: 4/29/2019 6:01:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientVisit](
	[visitID] [int] IDENTITY(1,1) NOT NULL,
	[appointmentID] [int] NOT NULL,
	[nurseID] [int] NOT NULL,
	[visitDateTime] [datetime] NOT NULL,
	[diagnosis] [varchar](120) NULL,
	[weight] [decimal](18, 2) NOT NULL,
	[systolic] [int] NOT NULL,
	[diastolic] [int] NOT NULL,
	[temperature] [decimal](18, 2) NOT NULL,
	[pulse] [int] NOT NULL,
	[symptoms] [varchar](40) NOT NULL,
	[finalDiagnosis] [varchar](120) NULL,
 CONSTRAINT [PK_PatientVisit] PRIMARY KEY CLUSTERED 
(
	[visitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialty]    Script Date: 4/29/2019 6:01:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialty](
	[doctorID] [int] NOT NULL,
	[specialityName] [varchar](40) NOT NULL,
 CONSTRAINT [PK_Specialities] PRIMARY KEY CLUSTERED 
(
	[doctorID] ASC,
	[specialityName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([state], [zip], [street], [addressID]) VALUES (N'Oregon', N'14764', N'3984 CYAOF', 1)
INSERT [dbo].[Address] ([state], [zip], [street], [addressID]) VALUES (N'South Dakota', N'91602', N'8175 ZKCKG', 2)
INSERT [dbo].[Address] ([state], [zip], [street], [addressID]) VALUES (N'Rhode Island', N'96626', N'1317 JCHPJ', 3)
GO
SET IDENTITY_INSERT [dbo].[Address] OFF
SET IDENTITY_INSERT [dbo].[Administrator] ON 

INSERT [dbo].[Administrator] ([adminID], [fname], [lname], [dob], [ssn], [gender], [phone], [adminUsername], [addressID]) VALUES (1, N'Nicole2', N'Angie', CAST(N'1967-02-20' AS Date), 730644085, N'F', N'0742641401', N'Chester', 175)
INSERT [dbo].[Administrator] ([adminID], [fname], [lname], [dob], [ssn], [gender], [phone], [adminUsername], [addressID]) VALUES (2, N'Darnell', N'Carey4', CAST(N'1961-09-14' AS Date), 660649690, N'M', N'7392855165', N'Micah', 687)
INSERT [dbo].[Administrator] ([adminID], [fname], [lname], [dob], [ssn], [gender], [phone], [adminUsername], [addressID]) VALUES (3, N'Holly672', N'Terence1', CAST(N'1987-07-31' AS Date), 861909877, N'F', N'8604806474', N'Pedro', 749)
SET IDENTITY_INSERT [dbo].[Administrator] OFF
SET IDENTITY_INSERT [dbo].[Doctor] ON 

INSERT [dbo].[Doctor] ([doctorID], [fname], [lname], [dob], [ssn], [gender], [phone], [doctorUsername], [addressID]) VALUES (1, N'Ginger993', N'Glenda61', CAST(N'1965-02-17' AS Date), 528719207, N'F', N'4495529065', N'Francis', 339)
INSERT [dbo].[Doctor] ([doctorID], [fname], [lname], [dob], [ssn], [gender], [phone], [doctorUsername], [addressID]) VALUES (2, N'Ginger', N'Aisha485', CAST(N'1987-01-15' AS Date), 363087002, N'F', N'6077242677', N'Dylan', 285)
INSERT [dbo].[Doctor] ([doctorID], [fname], [lname], [dob], [ssn], [gender], [phone], [doctorUsername], [addressID]) VALUES (3, N'Alan88', N'Anthony9', CAST(N'1974-08-01' AS Date), 549953309, N'M', N'5068382442', N'Diane', 263)
SET IDENTITY_INSERT [dbo].[Doctor] OFF
SET IDENTITY_INSERT [dbo].[HasAppointment] ON 

INSERT [dbo].[HasAppointment] ([appointmentID], [doctorID], [patientID], [appointmentDateTime], [reasons]) VALUES (1, 6, 17, CAST(N'1981-06-11T22:01:28.490' AS DateTime), N'quantare gravis non estis nomen dolorum vobis delerium. rarendum quoque glavans non quad Multum Et imaginator estis e')
INSERT [dbo].[HasAppointment] ([appointmentID], [doctorID], [patientID], [appointmentDateTime], [reasons]) VALUES (2, 6, 17, CAST(N'1957-04-23T12:49:36.060' AS DateTime), N'non delerium. quad trepicandor fecundio, quis fecit, gravis Multum travissimantor quad quad sed pars')
INSERT [dbo].[HasAppointment] ([appointmentID], [doctorID], [patientID], [appointmentDateTime], [reasons]) VALUES (3, 12, 17, CAST(N'1965-12-23T12:49:21.070' AS DateTime), N'dolorum estis rarendum linguens nomen linguens gravis cognitio, esset quo esset in Multum Multum fecit.')
SET IDENTITY_INSERT [dbo].[HasAppointment] OFF
SET IDENTITY_INSERT [dbo].[LabTestList] ON 

INSERT [dbo].[LabTestList] ([testID], [testName]) VALUES (8, N'Hepatitis A')
INSERT [dbo].[LabTestList] ([testID], [testName]) VALUES (9, N'Hepatitis B')
INSERT [dbo].[LabTestList] ([testID], [testName]) VALUES (10, N'Low Density Lipoproteins (LDL)')
SET IDENTITY_INSERT [dbo].[LabTestList] OFF
SET IDENTITY_INSERT [dbo].[LabTestResult] ON 

INSERT [dbo].[LabTestResult] ([labTestResultID], [testID], [visitID], [testResult], [testResultDate], [testPerformedDate]) VALUES (21, 11, 30, N'abnormal', CAST(N'2019-04-13T21:24:36.173' AS DateTime), CAST(N'2019-04-27T00:58:37.483' AS DateTime))
INSERT [dbo].[LabTestResult] ([labTestResultID], [testID], [visitID], [testResult], [testResultDate], [testPerformedDate]) VALUES (23, 10, 30, N'abnormal', CAST(N'2019-04-13T21:24:36.180' AS DateTime), CAST(N'2019-04-27T00:58:37.483' AS DateTime))
INSERT [dbo].[LabTestResult] ([labTestResultID], [testID], [visitID], [testResult], [testResultDate], [testPerformedDate]) VALUES (24, 11, 28, N'abnormal', CAST(N'2019-04-14T00:35:25.910' AS DateTime), CAST(N'2019-04-27T00:58:37.483' AS DateTime))
SET IDENTITY_INSERT [dbo].[LabTestResult] OFF
INSERT [dbo].[Login] ([username], [password]) VALUES (N'Aaron', 0x0200B5B75883C6017DA3F25D0E717AA7BE6A3028E0D458C830D2D6A1F92D865A447502BF62ABBC9A6B922CED9FDA99FAE16CF1B88F48C87ABE96D93D6C59CBA17B53E429CB73)
INSERT [dbo].[Login] ([username], [password]) VALUES (N'abcd', 0x0200A4039A8DE860EFCB04DB053AE98CC4DA9319D895E01941A8DD852C44B94EDB1C6950303BE8E79BAED512FDEEA720A54F740B6F1C23733A2C29B10D41AE6429CE9E449CE8)
INSERT [dbo].[Login] ([username], [password]) VALUES (N'Abel', 0x0200B5B75883C6017DA3F25D0E717AA7BE6A3028E0D458C830D2D6A1F92D865A447502BF62ABBC9A6B922CED9FDA99FAE16CF1B88F48C87ABE96D93D6C59CBA17B53E429CB73)
GO
SET IDENTITY_INSERT [dbo].[Nurse] ON 

INSERT [dbo].[Nurse] ([nurseID], [fname], [lname], [dob], [ssn], [gender], [phone], [nurseUsername], [addressID], [activeStatus]) VALUES (1, N'Maggie87', N'Irene5', CAST(N'1955-02-06' AS Date), 652794070, N'F', N'8371925565', N'Tyson', 967, 1)
INSERT [dbo].[Nurse] ([nurseID], [fname], [lname], [dob], [ssn], [gender], [phone], [nurseUsername], [addressID], [activeStatus]) VALUES (2, N'Roger0', N'Teddy44', CAST(N'2003-09-21' AS Date), 256426185, N'M', N'4753588108', N'Joyce', 500, 0)
INSERT [dbo].[Nurse] ([nurseID], [fname], [lname], [dob], [ssn], [gender], [phone], [nurseUsername], [addressID], [activeStatus]) VALUES (3, N'Rochelle', N'Fredrick261', CAST(N'1964-08-07' AS Date), 857215610, N'M', N'2778707611', N'Samuel', 834, 0)
SET IDENTITY_INSERT [dbo].[Nurse] OFF
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([patientID], [fname], [lname], [dob], [ssn], [gender], [phone], [addressID]) VALUES (1, N'Keri', N'Patrice256', CAST(N'1956-10-07' AS Date), 242157441, N'F', N'2034702220', 729)
INSERT [dbo].[Patient] ([patientID], [fname], [lname], [dob], [ssn], [gender], [phone], [addressID]) VALUES (2, N'Lena24', N'Ian27', CAST(N'1986-01-30' AS Date), 954837534, N'M', N'3538976601', 476)
INSERT [dbo].[Patient] ([patientID], [fname], [lname], [dob], [ssn], [gender], [phone], [addressID]) VALUES (3, N'Manuel5', N'Matt664', CAST(N'1986-02-12' AS Date), 558406173, N'F', N'9132294789', 601)
SET IDENTITY_INSERT [dbo].[Patient] OFF
SET IDENTITY_INSERT [dbo].[PatientVisit] ON 

INSERT [dbo].[PatientVisit] ([visitID], [appointmentID], [nurseID], [visitDateTime], [diagnosis], [weight], [systolic], [diastolic], [temperature], [pulse], [symptoms], [finalDiagnosis]) VALUES (1, 15, 17, CAST(N'1976-04-05T12:43:03.300' AS DateTime), N'dlnxx zqeyr fscaa', CAST(1.00 AS Decimal(18, 2)), 53, 5, CAST(58.00 AS Decimal(18, 2)), 10, N'XQUP RZKJJI IXWCCLRR GC', N'yuu')
INSERT [dbo].[PatientVisit] ([visitID], [appointmentID], [nurseID], [visitDateTime], [diagnosis], [weight], [systolic], [diastolic], [temperature], [pulse], [symptoms], [finalDiagnosis]) VALUES (2, 17, 17, CAST(N'2005-04-20T07:24:07.380' AS DateTime), N'kgiww airzm mab', CAST(43.00 AS Decimal(18, 2)), 73, 1, CAST(31.00 AS Decimal(18, 2)), 61, N'NDEX FQHHEP XINGXTIE FZ', NULL)
INSERT [dbo].[PatientVisit] ([visitID], [appointmentID], [nurseID], [visitDateTime], [diagnosis], [weight], [systolic], [diastolic], [temperature], [pulse], [symptoms], [finalDiagnosis]) VALUES (3, 14, 11, CAST(N'1973-01-30T02:09:19.910' AS DateTime), N'dbiku crgiq hex', CAST(13.00 AS Decimal(18, 2)), 84, 53, CAST(23.00 AS Decimal(18, 2)), 94, N'QHWR NHRNWC MCBDSBTE MF', NULL)
SET IDENTITY_INSERT [dbo].[PatientVisit] OFF
INSERT [dbo].[Specialty] ([doctorID], [specialityName]) VALUES (1, N'Upfropopicator')
INSERT [dbo].[Specialty] ([doctorID], [specialityName]) VALUES (2, N'Adsapedover')
INSERT [dbo].[Specialty] ([doctorID], [specialityName]) VALUES (3, N'Ciptinedicator')
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Administrator]    Script Date: 4/29/2019 6:01:16 PM ******/
ALTER TABLE [dbo].[Administrator] ADD  CONSTRAINT [IX_Administrator] UNIQUE NONCLUSTERED 
(
	[adminUsername] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Administrator_ssn]    Script Date: 4/29/2019 6:01:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Administrator_ssn] ON [dbo].[Administrator]
(
	[ssn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Doctor]    Script Date: 4/29/2019 6:01:16 PM ******/
ALTER TABLE [dbo].[Doctor] ADD  CONSTRAINT [IX_Doctor] UNIQUE NONCLUSTERED 
(
	[doctorUsername] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Doctor_ssn]    Script Date: 4/29/2019 6:01:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Doctor_ssn] ON [dbo].[Doctor]
(
	[ssn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HasAppointment_Doctor_time_UQ]    Script Date: 4/29/2019 6:01:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_HasAppointment_Doctor_time_UQ] ON [dbo].[HasAppointment]
(
	[appointmentDateTime] ASC,
	[doctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HasAppointment_patient_dateTime_UQ]    Script Date: 4/29/2019 6:01:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_HasAppointment_patient_dateTime_UQ] ON [dbo].[HasAppointment]
(
	[appointmentDateTime] ASC,
	[patientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LabTestList]    Script Date: 4/29/2019 6:01:16 PM ******/
ALTER TABLE [dbo].[LabTestList] ADD  CONSTRAINT [IX_LabTestList] UNIQUE NONCLUSTERED 
(
	[testName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LabTestResult]    Script Date: 4/29/2019 6:01:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_LabTestResult] ON [dbo].[LabTestResult]
(
	[testID] ASC,
	[visitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Nurse]    Script Date: 4/29/2019 6:01:16 PM ******/
ALTER TABLE [dbo].[Nurse] ADD  CONSTRAINT [IX_Nurse] UNIQUE NONCLUSTERED 
(
	[nurseUsername] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Nurse_ssn]    Script Date: 4/29/2019 6:01:16 PM ******/
ALTER TABLE [dbo].[Nurse] ADD  CONSTRAINT [IX_Nurse_ssn] UNIQUE NONCLUSTERED 
(
	[ssn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Patient_ssn]    Script Date: 4/29/2019 6:01:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Patient_ssn] ON [dbo].[Patient]
(
	[ssn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Nurse] ADD  CONSTRAINT [DF_Nurse_activeStatus]  DEFAULT ((0)) FOR [activeStatus]
GO
ALTER TABLE [dbo].[Administrator]  WITH CHECK ADD  CONSTRAINT [FK_Administrator_Address] FOREIGN KEY([addressID])
REFERENCES [dbo].[Address] ([addressID])
GO
ALTER TABLE [dbo].[Administrator] CHECK CONSTRAINT [FK_Administrator_Address]
GO
ALTER TABLE [dbo].[Administrator]  WITH CHECK ADD  CONSTRAINT [FK_Administrator_Login] FOREIGN KEY([adminUsername])
REFERENCES [dbo].[Login] ([username])
GO
ALTER TABLE [dbo].[Administrator] CHECK CONSTRAINT [FK_Administrator_Login]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Address] FOREIGN KEY([addressID])
REFERENCES [dbo].[Address] ([addressID])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Address]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Login] FOREIGN KEY([doctorUsername])
REFERENCES [dbo].[Login] ([username])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Login]
GO
ALTER TABLE [dbo].[HasAppointment]  WITH CHECK ADD  CONSTRAINT [FK_HasAppointment_Doctor] FOREIGN KEY([doctorID])
REFERENCES [dbo].[Doctor] ([doctorID])
GO
ALTER TABLE [dbo].[HasAppointment] CHECK CONSTRAINT [FK_HasAppointment_Doctor]
GO
ALTER TABLE [dbo].[HasAppointment]  WITH CHECK ADD  CONSTRAINT [FK_HasAppointment_Patient] FOREIGN KEY([patientID])
REFERENCES [dbo].[Patient] ([patientID])
GO
ALTER TABLE [dbo].[HasAppointment] CHECK CONSTRAINT [FK_HasAppointment_Patient]
GO
ALTER TABLE [dbo].[LabTestResult]  WITH CHECK ADD  CONSTRAINT [FK_LabTestResult_LabTestList] FOREIGN KEY([testID])
REFERENCES [dbo].[LabTestList] ([testID])
GO
ALTER TABLE [dbo].[LabTestResult] CHECK CONSTRAINT [FK_LabTestResult_LabTestList]
GO
ALTER TABLE [dbo].[LabTestResult]  WITH CHECK ADD  CONSTRAINT [FK_LabTestResult_PatientVisit] FOREIGN KEY([visitID])
REFERENCES [dbo].[PatientVisit] ([visitID])
GO
ALTER TABLE [dbo].[LabTestResult] CHECK CONSTRAINT [FK_LabTestResult_PatientVisit]
GO
ALTER TABLE [dbo].[Nurse]  WITH CHECK ADD  CONSTRAINT [FK_Nurse_Address] FOREIGN KEY([addressID])
REFERENCES [dbo].[Address] ([addressID])
GO
ALTER TABLE [dbo].[Nurse] CHECK CONSTRAINT [FK_Nurse_Address]
GO
ALTER TABLE [dbo].[Nurse]  WITH CHECK ADD  CONSTRAINT [FK_Nurse_Login] FOREIGN KEY([nurseUsername])
REFERENCES [dbo].[Login] ([username])
GO
ALTER TABLE [dbo].[Nurse] CHECK CONSTRAINT [FK_Nurse_Login]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Address] FOREIGN KEY([addressID])
REFERENCES [dbo].[Address] ([addressID])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Address]
GO
ALTER TABLE [dbo].[PatientVisit]  WITH CHECK ADD  CONSTRAINT [FK_PatientVisit_HasAppointment] FOREIGN KEY([appointmentID])
REFERENCES [dbo].[HasAppointment] ([appointmentID])
GO
ALTER TABLE [dbo].[PatientVisit] CHECK CONSTRAINT [FK_PatientVisit_HasAppointment]
GO
ALTER TABLE [dbo].[PatientVisit]  WITH CHECK ADD  CONSTRAINT [FK_PatientVisit_Nurse] FOREIGN KEY([nurseID])
REFERENCES [dbo].[Nurse] ([nurseID])
GO
ALTER TABLE [dbo].[PatientVisit] CHECK CONSTRAINT [FK_PatientVisit_Nurse]
GO
ALTER TABLE [dbo].[Specialty]  WITH CHECK ADD  CONSTRAINT [FK_Specialities_Doctor] FOREIGN KEY([doctorID])
REFERENCES [dbo].[Doctor] ([doctorID])
GO
ALTER TABLE [dbo].[Specialty] CHECK CONSTRAINT [FK_Specialities_Doctor]
GO
/****** Object:  StoredProcedure [dbo].[sp_mostPerformedTestsDuringDates]    Script Date: 4/29/2019 6:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[sp_mostPerformedTestsDuringDates] 
	-- Add the parameters for the stored procedure here
	@BeginDate DATETIME,   
    @EndDate DATETIME 
AS

 IF(@BeginDate IS NULL)
   BEGIN
      RAISERROR('Invalid begin date, can not be null', 18, 0)
   RETURN
 END;

  IF(@EndDate IS NULL)
   BEGIN
      RAISERROR('Invalid end date , can not be null', 18, 0)
   RETURN
 END;

 IF (@BeginDate > @EndDate)
   BEGIN
      RAISERROR('Invalid dates: begin date can not be after end date', 18, 0)
   RETURN
 END;
 
 BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
  SET NOCOUNT ON;
 
  SELECT  testID as testCode, testName, COUNT(testID) as timesTestPerformed,
  SUM(COUNT(testID)) OVER() totalTimesAllTestPerformed, 
  CONVERT(DECIMAL(10,2),(COUNT(testID)*100.0/SUM(COUNT(testID)) OVER())) as percentTestPerformed,
  COUNT(case when testResult = 'normal' then 1 else null end) as normalResultNumber,
  COUNT(case when testResult = 'abnormal' then 1 else null end) as abnormalResultNumber,
  CONVERT(DECIMAL(10,2),(COUNT(case when DATEADD(year,18,dob) <= testPerformedDate AND DATEADD(year,29,dob) >= testPerformedDate THEN 1 else null end)*100.0/COUNT(testID))) as percentTested18_29AgeGroup,
  CONVERT(DECIMAL(10,2),(COUNT(case when DATEADD(year,30,dob) <= testPerformedDate AND DATEADD(year,39,dob) >= testPerformedDate THEN 1 else null end)*100.0/COUNT(testID))) as percentTested30_39AgeGroup,
  CONVERT(DECIMAL(10,2),(COUNT(case when DATEADD(year,18,dob) > testPerformedDate OR DATEADD(year,39,dob) < testPerformedDate THEN 1 else null end)*100.0/COUNT(testID))) as percentTestOtherAgeGroup
  FROM (SELECT table3.testID, testName ,dob, patientID, testResult, testPerformedDate
  FROM (SELECT testID, dob, patientID,testResult, testPerformedDate
  FROM LabTestResult
  LEFT JOIN
  (SELECT patientID, dob, visitID 
  FROM    PatientVisit
  LEFT JOIN
  (SELECT HasAppointment.patientID, dob, appointmentID
  FROM HasAppointment
  LEFT JOIN Patient
  ON HasAppointment.patientID = Patient.patientID) AS table1
  ON PatientVisit.appointmentID =table1.appointmentID) as table2
  ON LabTestResult.visitID = table2.visitID
  WHERE testPerformedDate IS NOT NULL) as table3
  LEFT JOIN
  LabTestList
  ON table3.testID = LabTestList.testID) as table4 
  WHERE testPerformedDate Between @BeginDate AND @EndDate 
  GROUP BY testID, testName
  HAVING COUNT(testID)>1
  ORDER BY timesTestPerformed DESC, testCode DESC;
 END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Username must be presnet in login and will appear as forkeign key in administrator' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Administrator', @level2type=N'CONSTRAINT',@level2name=N'FK_Administrator_Login'
GO
USE [master]
GO
