<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CS6232GroupProject.Properties.Settings.clinicConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=clinic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CS6232GroupProject.Properties.Settings.CS6232_g4ConnectionString"
            connectionString="Data Source=MAGI-04;Initial Catalog=CS6232-g4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>